[Desktop Entry]
Name=Zelda: Book of Mudora
GenericName=Zelda fangame for the Solarus engine
Comment=Zelda: Book of Mudora (action rpg game)
Exec=zbom
Terminal=false
Type=Application
Icon=zbom
Categories=Game;AdventureGame;
